<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Notes App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" (click)="createTask()">
        <a class="nav-link">
          <img class="icons" src="../../assets/plus-circle-outline.svg" />
        </a>
      </li>
      <li class="nav-item" (click)="deleteTask()">
        <a class="nav-link">
          <img class="icons" src="../../assets/trash-2-outline.svg" />
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        [(ngModel)]="filterText"
        name="filterText"
        (ngModelChange)="search($event)"
      />
    </form>
  </div>
</nav>
