<div class="list-height">
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action flex-column align-items-start"
      *ngFor="let task of tasks; let index = index"
      (click)="selectTask(task)"
    >
      <h6 class="mb-1">{{ task.name }}</h6>
      <div class="d-flex w-100 justify-content-between">
        <small class="date-width">{{ task.createdDate | date: "dd MMM yyyy" }}</small>
        <small class="description-text">{{ task.description }}</small>
      </div>
    </a>
  </div>
</div>
